@import "./style.css";

.final-header {
  margin: 0;
  padding: 0.5rem 0;
  font-family: var(--theme-font-family);
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
  color: var(--text-color);
}

.final-desc {
  margin: 0;
  padding: 0.5rem 0;
  font-family: var(--theme-font-family);
  font-size: 22px;
  line-height: 27px;
  color: var(--text-color);
  opacity: 0.6;
  max-width: 45%;
}

.final-img {
  margin: 0 auto;
  position: relative;
  margin-top: 20%;
  left: 100%;
  transform: translateX(-100%);
  z-index: 0;
  max-width: 60%;
}

.final-input-group {
  display: flex;
}

.final-input {
  font-family: var(--theme-font-family);
  width: 30%;
  border-radius: 100px !important;
}

.final-btn {
  margin: 0 0 0 1rem !important;
  padding: 1rem 1.5rem 1rem 1.5rem !important;
  /* color: #fff !important;
    background-color: var(--main-color) !important; */
}

.final-input-group {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.final-container {
  margin: 0;
  z-index: 1;
}

.final-left-side {
  position: absolute;
  margin-top: 13%;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .final-input-group {
    flex-direction: column;
    align-items: center;
  }

  .final-input {
    width: 70%;
  }

  .final-btn {
    margin-top: 20vh !important;
    float: none;
  }

  .final-img {
    margin-top: 30vh;
    max-width: 85%;
  }

  .final-left-side {
    margin-top: 0;
  }

  .final-desc {
    max-width: 95%;
  }
}
