@import "./style.css";

.places-header {
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  font-family: var(--theme-font-family);
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
