@import "./style.css";

.places-header {
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  font-family: var(--theme-font-family);
  pointer-events: none;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-grid {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(29, 1fr);
  grid-template-columns: repeat(29, 1fr);
  margin-bottom: 1rem;
  justify-items: stretch;
}

@media screen and (max-width: 500px) {
  .places-header {
    text-align: left;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
  }
}
