@import "./style.css";

.outter-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.toggle-btn {
  margin: 0.3rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
}

.reg-btn {
  padding: 0;
  background: transparent;
  border: 2px solid #d9d7d3;
  transition: background-color 0.1s linear;
}

.reg-btn:hover {
  background-color: #d9d7d3;
}

.checked-btn {
  padding: 0;
  background: var(--text-color);
  border: 2px solid var(--text-color);
}

.toggle-btn-label {
  font-family: var(--theme-font-family);
  font-size: 16px;
  line-height: 20px;
  padding: 1rem 1.5rem;
  color: var(--text-color);
  opacity: 0.8;
}

.checked-label {
  color: white;
  opacity: 1;
}

.tag-header {
  text-align: center;
  margin: 1rem;
  padding: 0.5rem 0;
  font-family: var(--theme-font-family);
}

.tag-btn {
  margin: 1rem 0 1rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  float: right;
  transition: background-color 0.1s linear;
}

.tag-btn:hover {
  background-color: #65d8c3;
}

@media screen and (max-width: 420px) {
  .tag-btn {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .tag-header {
    text-align: left;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
  }

  .tag-container {
    justify-content: left;
  }
}
