@import "./style.css";

.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.toggle-btn {
  margin: 0.3rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 100px;
}

.reg-btn {
  background: transparent;
  border: 2px solid #d9d7d3;
}

.reg-btn:hover {
  border: 2px solid var(--text-color);
}

.checked-btn {
  background: black;
  border: 2px solid black;
}

.toggle-btn-label {
  font-family: var(--theme-font-family);
  font-size: 16px;
  line-height: 20px;
  padding: 1rem 1.5rem;
  color: var(--text-color);
  opacity: 0.8;
}

.checked-label {
  color: white;
  opacity: 1;
}

.tag-header {
  text-align: center;
  margin: 2rem;
  padding: 0.5rem 0;
  font-family: var(--theme-font-family);
}

.tag-btn {
  margin: 3rem 0 !important;
  float: right;
}
